{% extends "base.html" %}
{% load wagtailimages_tags i18n %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    {% get_current_language as LANGUAGE_CODE %}

    <div class="publication-date">
        <label>{% trans "Publication date:" %}</label>
        <span>{{ page.date }}</span>
    </div>

    <div class="image">
        {% image page.feed_image width-400 %}
    </div>

    <div class="body">
        {{ page.body|safe }}
    </div>

    <div class="stream">
        {% for block in page.stream %}
            {% if block.block_type == 'heading' %}
                <h1>{{ block.value }}</h1>
            {% else %}
                <section class="block-{{ block.block_type }}">
                    {{ block }}
                </section>
            {% endif %}
        {% endfor %}
    </div>



{% endblock %}
