{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags i18n %}

{% block body_class %}template-organization-page{% endblock %}

{% block content %}
    {% get_current_language as LANGUAGE_CODE %}

    <h1>{{ page.title }}</h1>

    <div class="publication-date">
        <label>{% trans "Founded:" %}</label>
        <span>{{ page.date_founded }}</span>
    </div>

    <div class="image">
        {% image page.feed_image width-400 %}
    </div>

    <div class="body">
        {{ page.description|richtext }}
    </div>

{% endblock %}
